body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    display: block;
    margin: 8px;
}

h1 {
    display: block;
    font-size: 50px;
    font-weight: normal;
}

p {
    display: block;
    color: Gray;
    font-size: 21px;
}

a {
    color: Aquamarine;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    text-align: right;
}
